body{
    margin: 0;
    height: 100vh;
    background: #d24dff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    padding: 30px 60px;
    background: #fff;
    border-radius: 10px;
}
h1{
    margin: 0 0 20px;
}
.pal-box input[type="text"]{
    width: 100%;
    padding: 3px 5px;
    border: solid #d24dff;
    height: 40px;
    background: whitesmoke;
    border-width: 0 0 2px;
    margin: 0 0 20px;
}
.pal-box input[type="submit"]{
    width: 100%;
    border: 0;
    background: #d24dff;
    color: #fff;
    padding: 11px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}
.txt{
    color: #d02f2f;
    font-size: 14px;
    margin: 0;
}